# =========================
# Build & Output Folders
# =========================
/target/
/test-output/
/bin/

# =========================
# Eclipse Specific Files
# =========================
.classpath
.project
.settings/

# =========================
# Logs & Temp Files
# =========================
*.log
*.tmp

# =========================
# OS Specific Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ IDEA Files
# =========================
.idea/
*.iml

# =========================
# Excel/Config Files
# =========================
# Ignore all Excel files globally
*.xlsx
*.xls

# BUT allow Excel files inside Excel_TestData folder
!Excel_TestData/*.xlsx
!Excel_TestData/*.xls

# Ignore temporary Excel backup files
~$*
